body {
  background:rgb(35, 35, 35);
  background: url('../img/pattern_wallpaper.png') center/contain;
  &::before {
    content:'';
    background:url('../img/cat-nyan-cat.gif');
    width: 200px;
    height: 200px;
    position: absolute;
    top:0;
    left:0;
    transform:rotate(45deg) translate(-25%,-10%);
  }
}
.container {
  background-color: #000;
  width: 80vw;
  margin: 10vh auto;
  border-radius: 10px;
  padding: 50px 0;
  box-shadow: -47px 18px 64px -26px rgba(0,0,0,0.43);
}

h1 {
  font-family: 'Itim', cursive;
  text-align: center;
  color:#fff;
  font-size: 50px;
  font-weight: normal;
  margin-top: 0;
}
.banana {
  margin-top: 50px;
  text-align: center;
  img {
    width: 100px;
  }
}
form {
  text-align: center;
  div {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 15px;
    color:#fff;
    font-family: 'Itim', cursive;
  }
  input {
    font-family: 'Itim', cursive;
    padding:10px 30px;
    border:0;
    margin:0;
    display: inline-block;
    &[type="text"] {
      border-radius:5px 0 0 5px;
      width: 20%;
      &:focus {
        background:yellow;
        outline:none;
      }
    }
    &[type="button"] {
      border-radius:0 5px 5px 0;
      cursor:pointer;
      background:deeppink;
      color:#fff;
      transition:.3s all ease-in-out;
      &:hover {
        background:darken(deeppink, 10%);
      }
    }
  }
  select {
    border-radius:5px;
    margin-left: 10px;
  }
}
.wrapper {
  font-family: 'Itim', cursive;
  max-width:1000px;
  margin:100px auto;
  color:#fff;
  display: flex;
  flex-direction: column;
  gap:20px;

  .image-ingredients {
    display: flex;
    justify-content: flex-start;
  }

  .ingredients-instruction{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  img {
    max-width: 300px;
    object-fit: cover;
    height: 300px;
  }

  h3 {
    
  }

  ul {
    margin-top: 0;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}